* {
  margin: 0px;
  padding: 0px;
}

.Option-sharp {
  position: relative;
  top: 15px;
  left: 17px;
  width: 26px;
  height: 22px;
  background: transparent url("/images/img/options-sharp.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.Option-sharp-img {
  position: absolute;
  top: 15px;
  left: 17px;
  width: 25.67px;
  height: 20px;
  /* background: transparent url("img/options-sharp.png") 0% 0% no-repeat */
  /* padding-box; */
  opacity: 1;
}

@media screen and (max-Width: 600px){
  .Option-sharp{
    left: 6px;
    top:3px;
  }
}


