.ContinentalP6 {
  position: absolute;
  top: 19px;
  left: 18px;
  width: 135px;
  height: 40px;
  color: var(--unnamed-color-000000);
  text-align: left;
  text-decoration: underline;
  font: normal normal bold 16px/24px Calibri;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.Logoimg {
  position: absolute;
  top: 14.06px;
  left: 208px;
  width: 64px;
  height: 52px;
  background: transparent url("/images/img/Logo_OE_Approved_1c_black_final.png")
    0% 0% no-repeat padding-box;
  opacity: 1;
}
.TyreSize {
  position: absolute;
  top: 19px;
  left: 327px;
  width: 106px;
  height: 16px;
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal normal 16px/23px Calibri;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.Suv {
  position: absolute;
  top: 43px;
  left: 327px;
  width: 27px;
  height: 16px;
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal normal 16px/23px Calibri;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.PriceC {
  position: absolute;
  left: 619.61px;
  top: 32px;
  width: 77px;
  height: 16px;
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal normal 16px/23px Calibri;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.Buttoninc {
  position: absolute;
  top: 20px;
  left: 836px;
  width: 40px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.25px solid #9c9d9d;
  border-radius: 1px;
  opacity: 1;
}
.Buttondec {
  position: absolute;
  top: 20px;
  left: 756.43px;
  width: 40px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.25px solid #9c9d9d;
  border-radius: 1px;
  opacity: 1;
}
.CountC {
  position: absolute;
  top: 20px;
  left: 772.43px;
  width: 86px;
  height: 40px;
  background: var(--unnamed-color-e0e0e0) 0% 0% no-repeat padding-box;
  background: #e0e0e0 0% 0% no-repeat padding-box;
  opacity: 1;
}
.CountNumberC {
  position: absolute;
  top: 13.35px;
  left: 34.55px;
  width: 8px;
  height: 16px;
  color: var(--unnamed-color-000000);
  text-align: center;
  font: normal normal bold 16px/23px Calibri;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.TotalCash {
  position: absolute;
  top: 33px;
  left: 951.95px;
  width: 101px;
  height: 16px;
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal normal 16px/23px Calibri;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.CartBoxC {
  position: absolute;
  top: 20px;
  left: 1134px;
  width: 152px;
  height: 40px;
  background: var(--unnamed-color-ffa500) 0% 0% no-repeat padding-box;
  background: #ffa500 0% 0% no-repeat padding-box;
  border-radius: 48px;
  opacity: 1;
  outline: none;
}
.YelloCartIMageC {
  position: absolute;
  top: 10px;
  left: 17.82px;
  width: 24px;
  height: 21px;
  background: transparent url("/images/img/cart-sharp.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.AddToCartC {
  position: absolute;
  bottom: 13px;
  left: 54px;
  width: 76px;
  height: 16px;
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal bold 16px/23px Calibri;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.YelloBellImage {
  position: absolute;
  top: 10px;
  left: 23px;
  width: 16px;
  height: 20px;
  background: transparent url("/images/img/notifications-sharp.png") 0% 0%
    no-repeat padding-box;
  opacity: 1;
}
.BellBoxC {
  position: absolute;
  top: 20px;
  left: 1137px;
  width: 152px;
  height: 40px;
  border: 2px solid var(--unnamed-color-ffa500);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #ffa500;
  border-radius: 20px;
  opacity: 1;
}
.StockAvailableYes {
  position: absolute;
  top: 26.07px;
  left: 538.54px;
  width: 14px;
  height: 14px;
  background: #008435 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 50%;
}
.StockAvailableLimited {
  position: absolute;
  left: 538.54px;
  top: 26.07px;
  width: 14px;
  height: 14px;
  background: var(--unnamed-color-ffa500) 0% 0% no-repeat padding-box;
  background: #ffa500 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
}
.StockAvailableLimited::before {
  position: absolute;
  top: 3.37px;
  left: 6px;
  content: "";
  height: 6px;
  border-left: 2px solid #fff;
  position: absolute;
}
.StockAvailableLimited::after {
  position: absolute;
  top: 10.37px;
  left: 6.37px;
  content: "";
  height: 2px;
  border-left: 2px solid #fff;
  position: absolute;
}
.StockAvailableNo::after {
  content: "";
  height: 8px;
  border-left: 1px solid #fff;
  position: absolute;
  transform: rotate(45deg);
  left: 7px;
  top: 3.37px;
}
.StockAvailableNo::before {
  position: absolute;
  top: 3.37px;
  left: 7px;
  content: "";
  height: 8px;
  border-left: 1px solid #fff;
  position: absolute;
  transform: rotate(-45deg);
}
.StockAvailableNo {
  position: absolute;
  top: 24px;
  left: 534px;
  width: 14px;
  height: 14px;
  background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
  background:#8E1216 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
}
.StockAvailableYes::after {
  position: absolute;
  top: 2.37px;
  left: 4.54px;
  content: "";
  display: block;
  width: 3px;
  height: 6px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.StockPL {
  position: absolute;
  top: 20px;
  left: 491px;
  width: 27px;
  height: 16px;
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal normal 16px/23px Calibri;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.AvailableTyres {
  position: absolute;
  top: 45px;
  left: 470px;
  width: 117px;
  height: 15px;
  color: var(--unnamed-color-000000);
  text-align: center;
  font: normal normal bold 14px/21px Calibri;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  display: none;
}
.Save {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .ContinentalP6 {
    position: absolute;
    width: 135px;
    height: 40px;
    left: 25px;
    top: 19px;
    font: normal normal bold 16px/24px Calibri;
  }
  .Logoimg {
    position: absolute;
    width: 64px;
    height: 52px;
    left: 191px;
    top: 14.06px;
  }
  .TyreSize {
    position: absolute;
    width: 106px;
    height: 16px;
    left: 274px;
    top: 19px;
  }
  .Suv {
    position: absolute;
    width: 27px;
    height: 16px;
    left: 274px;
    top: 43px;
  }
  .PriceC {
    position: absolute;
    left: 475px;
    top: 32px;
  }
  .TotalCash {
    position: absolute;
    width: 101px;
    height: 20px;
    top: 30px;
    left: 723px;
  }
  .StockAvailableYes {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 440px;
    top: 30px;
  }
  .StockAvailableLimited{
    position: absolute;
    width: 14px;
    height: 14px;
    left: 440px;
    top: 30px
  }
  .StockAvailableNo {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 440px;
    top: 30px;
  }
  .StockPL {
    position: absolute;
    left: 397px;
    top: 28px;
    width: 36px;
    height: 16px;
  }
  .CountC {
    position: absolute;
    width: 88px;
    height: 40px;
    left: 593px;
    top: 20px;
  }
  .Buttondec {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 577px;
    top: 20px;
  }
  .Buttoninc {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 657px;
    top: 20px;
  }
  .CartBoxC {
    position: absolute;
    width: 77px;
    height: 40px;
    left: 840px;
    top: 20px;
  }
  .AddToCartC {
    display: none;
  }
  .AvailableTyres{
    position: absolute;
    width: 64px;
    height: 15px;
    left: 490px;
    top: 45px;
  }
  .BellBoxC {
    position: absolute;
    width: 117px;
    height: 40px;
    left: 840px;
    top: 20px;
  }
  .AvailableTyres {
    position: absolute;
    width: 64px;
    height: 15px;
    left: 490px;
    top: 45px;
  }
}
@media only screen and (max-width: 768px) {
  .ContinentalP6 {
    position: absolute;
    width: 135px;
    height: 32px;
    left: 19px;
    top: 16px;
    font: normal normal bold 16px/23px Calibri;
  }
  .Logoimg {
    position: absolute;
    width: 44px;
    height: 35.75px;
    left: 19px;
    top: 59px;
  }
  .TyreSize {
    position: absolute;
    width: 92px;
    height: 15px;
    left: 180px;
    top: 17px;
  }
  .Suv {
    position: absolute;
    width: 24px;
    height: 15px;
    left: 180px;
    top: 36px;
  }
  .PriceC {
    position: absolute;
    width: 28px;
    height: 15px;
    left: 180px;
    top: 59px;
  }
  .TotalCash {
    position: absolute;
    width: 94px;
    height: 15px;
    top: 59px;
    left: 228px;
  }
  .StockAvailableYes {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 86px;
    top: 79px;
  }
  .StockAvailableLimited {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 86px;
    top: 79px;
  }
  .StockAvailableNo {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 86px;
    top: 79px;
  }
  .StockPL {
    position: absolute;
    left: 77px;
    top: 59px;
    width: 31px;
    height: 15px;
  }
  .CountC {
    position: absolute;
    width: 85px;
    height: 40px;
    left: 39px;
    top: 102px;
  }
  .Buttondec {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 19px;
    top: 102px;
  }
  .Buttoninc {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 104px;
    top: 102px;
  }
  .CartBoxC {
    position: absolute;
    width: 135px;
    height: 40px;
    left: 180px;
    top: 102px;
  }
  .AvailableTyres {
    position: absolute;
    width: 64px;
    height: 15px;
    left: 393px;
    top: 45px;
  }
  .BellBoxC {
    position: absolute;
    width: 135px;
    height: 40px;
    left: 174px;
    top: 102px;
  }
  .AddToCartC {
    display: block;
  }
  .AvailableTyres {
    display: none;
  }
  .Save {
    display: block;
    position: absolute;
    width: 67px;
    height: 15px;
    left: 228px;
    top: 78px;
    text-align: left;
    font: normal normal normal 14px/21px Calibri;
    letter-spacing: 0px;
    color: #8e1216;
    opacity: 1;
  }
}
@media only screen and (max-width: 375px) {
  .ContinentalP6 {
    position: absolute;
    display: block;
    width: 135px;
    height: 40px;
    left: 19px;
    top: 16px;
    font: normal normal bold 16px/24px Calibri;
  }
  .Logoimg {
    position: absolute;
    width: 44px;
    height: 35.75px;
    left: 19px;
    top: 59px;
  }
  .TyreSize {
    position: absolute;
    display: block;
    width: 92px;
    height: 15px;
    left: 174px;
    top: 17px;
  }
  .Suv {
    position: absolute;
    display: block;
    width: 24px;
    height: 15px;
    left: 174px;
    top: 36px;
  }
  .PriceC {
    position: absolute;
    display: block;
    width: 28px;
    left: 174px;
    top: 59px;
  }
  .TotalCash {
    position: absolute;
    display: block;
    width: 101px;
    height: 20px;
    top: 59px;
    left: 222px;
  }
  .StockAvailableYes {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 440px;
    top: 32px;
  }
  .StockPL {
    position: absolute;
    display: block;
    left: 397px;
    top: 28px;
    width: 31px;
    height: 15px;
  }
  .CountC {
    position: absolute;
    width: 88px;
    height: 40px;
    left: 593px;
    top: 20px;
  }
  .Buttondec {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 577px;
    top: 20px;
  }
  .Buttoninc {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 657px;
    top: 20px;
  }
  .CartBoxC {
    position: absolute;
    width: 77px;
    height: 40px;
    left: 840px;
    top: 20px;
  }
  .AddToCartC {
    display: none;
  }
  .AvailableTyres {
    position: absolute;
    width: 64px;
    height: 15px;
    left: 393px;
    top: 45px;
  }
  .BellBoxC {
    position: absolute;
    width: 77px;
    height: 40px;
    left: 840px;
    top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .ContinentalP6 {
    position: absolute;
    width: 135px;
    height: 32px;
    left: 19px;
    top: 16px;
    font: normal normal bold 16px/23px Calibri;
  }
  .Logoimg {
    position: absolute;
    width: 44px;
    height: 35.75px;
    left: 19px;
    top: 59px;
  }
  .TyreSize {
    position: absolute;
    width: 92px;
    height: 15px;
    left: 180px;
    top: 17px;
  }
  .Suv {
    position: absolute;
    width: 24px;
    height: 15px;
    left: 180px;
    top: 36px;
  }
  .PriceC {
    position: absolute;
    width: 28px;
    height: 15px;
    left: 180px;
    top: 59px;
  }
  .TotalCash {
    position: absolute;
    width: 94px;
    height: 15px;
    top: 59px;
    left: 228px;
  }
  .StockAvailableYes {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 86px;
    top: 79px;
  }
  .StockPL {
    position: absolute;
    left: 77px;
    top: 59px;
    width: 31px;
    height: 15px;
  }
  .CountC {
    position: absolute;
    width: 85px;
    height: 40px;
    left: 39px;
    top: 102px;
  }
  .Buttondec {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 19px;
    top: 102px;
  }
  .Buttoninc {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 104px;
    top: 102px;
  }
  .CartBoxC {
    position: absolute;
    width: 135px;
    height: 40px;
    left: 180px;
    top: 102px;
  }
  .AvailableTyres {
    position: absolute;
    width: 64px;
    height: 15px;
    left: 393px;
    top: 45px;
  }
  .BellBoxC {
    position: absolute;
    width: 135px;
    height: 40px;
    left: 174px;
    top: 102px;
  }
  .AddToCartC {
    display: block;
  }
  .AvailableTyres {
    display: none;
  }
  .Save {
    display: block;
    position: absolute;
    width: 67px;
    height: 15px;
    left: 228px;
    top: 78px;
    text-align: left;
    font: normal normal normal 14px/21px Calibri;
    letter-spacing: 0px;
    color: #8e1216;
    opacity: 1;
  }
}
