.Footer {
  position: absolute;
  top: 705px;
  left: 31px;
  width: 1308px;
  height: 48px;
  border: 1px solid var(--unnamed-color-000000);
  box-shadow: 6px 6px 16px #00000008;
  border: 1px solid #000000;
  border-radius: 40px;
  opacity: 1;
}

.MoreResults {
  position: absolute;
  top: 16px;
  left: 568px;
  width: 148px;
  height: 19px;
  color: var(--unnamed-color-000000);
  text-align: center;
  font: normal normal bold 18px/27px Calibri;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
@media only screen and (max-width: 1024px){
    .Footer{
        position: absolute;
        width: 946px;
        height:48px;
        left: 40px;
        top: 705px
    }
    .MoreResults{
        position: absolute;
        left: 400px;
    }
}
@media only screen and (max-width: 768px){
    .Footer{
        position: absolute;
        width: 704px;
        height:48px;
        left: 32px;
        top: 1171px
    }
    .MoreResults{
        position: absolute;
        left: 280px;
    }
}
@media only screen and (max-width: 600px){
    .Footer{
        position: absolute;
        width: 338px;
        height:48px;
        left: 18px;
        top: 894px
    }
    .MoreResults{
        position: absolute;
        left: 95px;
    }
}


