* {
  margin: 0px;
  padding: 0px;
}

.App {
  top: -162px;
  left: 0px;
  width: 1366px;
  height: 1166px;
  /* background: transparent url("/images/img/bg_grey_tile.png") 0% 0% no-repeat
    padding-box; */
  /* opacity: 0.5; */
  background-color: #0000001a;
}

/* @media only screen and (max-width: 375px) {
  .App{
    height: 56px; 
  }
} */
.PremiumSellerBox {
  position: absolute;
  top: 225px;
  left: 693px;
  width: 646px;
  height: 175px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 20px #00000008;
  opacity: 1;
}
.Background {
  background-color: black;
}
.ProductContainer1 {
  position: absolute;
  top: 416px;
  left: 30px;
  width: 1306px;
  height: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 6px 6px 16px #00000008;
  border-radius: 1px;
  opacity: 1;
}
.ProductContainer2 {
  position: absolute;
  top: 513px;
  left: 30px;
  width: 1306px;
  height: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 6px 6px 16px #00000008;
  border-radius: 1px;
  opacity: 1;
}
.ProductContainer3 {
  top: 609px;
  left: 30px;
  width: 1309px;
  height: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 6px 6px 16px #00000008;
  border-radius: 1px;
  opacity: 1;
  position: absolute;
}
button {
  outline: none;
}
.ProductContainer4 {
  display: none;
}
.ProductContainer5 {
  display: none;
}
.ProductContainer6 {
  display: none;
}
.ProductContainer7 {
  display: none;
}
.ProductContainer8 {
  display: none;
}
.ProductContainer9 {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .PremiumSellerBox {
    position: absolute;
    width: 464px;
    height: 175px;
    left: 520px;
    top: 225px;
  }
  .ProductContainer1 {
    position: absolute;
    width: 944px;
    height: 80px;
    left: 40px;
    top: 415px;
  }
  .ProductContainer2 {
    position: absolute;
    width: 944px;
    height: 80px;
    left: 40px;
    top: 512px;
  }
  .ProductContainer3 {
    position: absolute;
    width: 944px;
    height: 80px;
    left: 40px;
    top: 608px;
  }
}
@media only screen and (max-width: 768px) {
  .PremiumSellerBox {
    position: absolute;
    width: 344px;
    height: 236px;
    left: 392px;
    top: 220px;
  }
  .SellerBox {
    position: absolute;
    width: 344px;
    height: 236px;
    left: 16px;
    top: 220px;
  }
  .ProductContainer1 {
    position: absolute;
    width: 344px;
    height: 158px;
    left: 32px;
    top: 475px;
  }
  .ProductContainer2 {
    position: absolute;
    width: 344px;
    height: 158px;
    left: 392px;
    top: 475px;
  }
  .ProductContainer3 {
    display: none;
  }
  .ProductContainer4 {
    position: absolute;
    width: 344px;
    height: 158px;
    left: 392px;
    top: 649px;
    display: block;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 6px 6px 16px #00000008;
    border-radius: 1px;
    opacity: 1;
  }
  .ProductContainer5 {
    position: absolute;
    width: 344px;
    height: 158px;
    left: 32px;
    top: 823px;
    display: block;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 6px 6px 16px #00000008;
    border-radius: 1px;
    opacity: 1;
  }
  .ProductContainer6 {
    position: absolute;
    width: 344px;
    height: 158px;
    left: 392px;
    top: 823px;
    display: block;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 6px 6px 16px #00000008;
    border-radius: 1px;
    opacity: 1;
  }
  .ProductContainer7 {
    position: absolute;
    width: 344px;
    height: 158px;
    left: 32px;
    top: 997px;
    display: block;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 6px 6px 16px #00000008;
    border-radius: 1px;
    opacity: 1;
  }
  .ProductContainer8 {
    position: absolute;
    width: 344px;
    height: 158px;
    left: 392px;
    top: 997px;
    display: block;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 6px 6px 16px #00000008;
    border-radius: 1px;
    opacity: 1;
  }
  .ProductContainer9 {
    position: absolute;
    width: 344px;
    height: 158px;
    left: 32px;
    top: 649px;
    display: block;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 6px 6px 16px #00000008;
    border-radius: 1px;
    opacity: 1;
  }
}
@media only screen and (max-width: 600px) {
  .PremiumSellerBox {
    position: absolute;
    width: 280px;
    height: 236px;
    left: 302px;
    top: 120px;
  }
  .SellerBox {
    position: absolute;
    width: 344px;
    height: 236px;
    left: 16px;
    top: 220px;
  }
  .ProductContainer1 {
    position: absolute;
    width: 338px;
    height: 158px;
    left: 18px;
    top: 372px;
  }
  .ProductContainer2 {
    position: absolute;
    width: 338px;
    height: 158px;
    left: 18px;
    top: 546px;
  }
  .ProductContainer3 {
    display: none;
  }
  .ProductContainer4 {
    display: none;
  }
  .ProductContainer5 {
    display: none;
  }
  .ProductContainer6 {
    display: none;
  }
  .ProductContainer7 {
    display: none;
  }
  .ProductContainer8 {
    display: none;
  }
  .ProductContainer9 {
    position: absolute;
    width: 338px;
    height: 158px;
    left: 18px;
    top: 720px;
    display: block;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 6px 6px 16px #00000008;
    border-radius: 1px;
    opacity: 1;
  }
}
